<% if !user_signed_in? %>
  <div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1>Welocome!</h1>
      <p>Please, log in to use the app!</p>
      <p> <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg", role:"button" %> </p>
    </div>
  </div>
</div>
<% end %>
