<div class="row">
  <div class="col-md-3"> </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>កែពរត៌មាន​បុគ្គលិក</h4>
      </div>
<%= render 'form' %>

</div>   <!-- end panel default -->
</div>
  <div class="col-md-3"> </div>
</div><!-- 
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><%= link_to 'Back', root_path, class: "btn btn-primary" %></div>
  <div class="col-md-3"></div>
</div> -->
